body {
/*	margin: 10% 33%; */  
  background: url('http://p1.pichost.me/i/63/1874845.jpg');
}

.board {
  width: 610px;
  height: 750px;
  background: #fff;
  opacity: 0.95;
  margin: 2% auto;
  padding: 1%;
}

h1 {
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
  font-size: 70px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  text-align: center;
 -webkit-text-fill-color: white;
 -webkit-text-stroke-width: 3px;
 -webkit-text-stroke-color: black;
}

.allCells {
	border: 1px solid #000;
	height: 200px;
	width: 200px;
	display: inline-block;
  float: left;
  position: relative;
  margin: 0 auto;
}

.winnerFull {
  height: 620px;
  width: 620px;
  position: absolute;
  left: 530px;
}

.xMarker {
  background-image: url("../images/doge.gif");
  background-repeat: no-repeat;
  background-size: 200px 200px;
}

.yMarker {
  background-image: url("../images/dolphin.gif");
  background-repeat: no-repeat;
  background-size: 200px 200px;
}

.resetButton {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  right: 10%;
}