body {
	margin: 10% 33%; 
}

.board {
  width: 750px;
  height: 750px;
}

.allCells {
	border: 1px solid #000;
	height: 200px;
	width: 200px;
	display: inline-block;
  float: left;
  position: relative;
}

.xMarker {
  background-image: url("../images/doge.gif");
  background-repeat: no-repeat;
  background-size: 200px 200px;
}

.yMarker {
  background-image: url("../images/dolphin.gif");
  background-repeat: no-repeat;
  background-size: 200px 200px;
}

.winnerFull {
  height: 620px;
  width: 620px;
  position: absolute;
  top: 18%;
  left: 33%;
}

.resetButton {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  right: 10%;
}