<!DOCTYPE html>
<html>
	<head>
		<title>Tic Tac Toe</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="js/angular.min.js"></script>
		<script src="js/main.js"></script>
	</head>

	<body ng-app="myApp">
		<div ng-controller="myController" class="board">
			<div ng-repeat="currentCell in cellList">
				<div class="allCells" ng-click="playerPicks(currentCell)">
					Num: {{currentCell.num}}<br>Status: {{currentCell.status}}
				</div>
			</div>
		</div>
	</body>
</html>